**Print Statement**

In [1]:
print("Ahmad Sana Farooq")
print("I am Ahmad Sana Farooq \n from Pakistan \n and i am a data scientist")

Ahmad Sana Farooq
I am Ahmad Sana Farooq
 from Pakistan
 and i am a data scientist

**Variables**

In [2]:
a=12
b=13
print("A=",a,"B=",b)

A= 12 B= 13

In [3]:
#Concatination
first_name="Ahmad Sana"
last_name="Farooq"
full_name=first_name+" "+last_name
print("My full name is",full_name)

My full name is Ahmad Sana Farooq

In [4]:
a="ahamd sana farooq"
print(a)

ahamd sana farooq

In [5]:
name="ahmad sana farooq"
age=20
country="Pakistan"
print(f"My name is {name}, I am {age} years old and I am from {country}")

My name is ahmad sana farooq, I am 20 years old and I am from Pakistan

**Data Types**

In [6]:
a= 12
b=True
c= 12.5
n="ahmad sana farooq"
print(type(a),a)
print(type(b),b)
print(type(c),c)
print(type(n),n)

<class 'int'> 12
<class 'bool'> True
<class 'float'> 12.5
<class 'str'> ahmad sana farooq