**Set in python in an unordered collection of unique elements.**<br>
- Sets are defined using the set() function or the {} syntax.

`Operation in set:`
1. Union: The union of two sets A and B is the set of all elements in A or B or both.
2. Intersection: The intersection of two sets A and B is the set of all elements in both A and B.
3. Difference: The difference of two sets A and B is the set of all elements in A but not in B.
4. Symmetric Difference: The symmetric difference of two sets A and B is the set of all elements in A or B but not in both.
 and so on.

**Sets used for:**
- Mmbership testing , remove duplication and perform mathematically set operations on the set of members.

In [1]:
#use set function
x=set()
print(type(x))

<class 'set'>

In [2]:
set1={1,2,3,4,5}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
mixed_set={1,2,3,4.5,'hello',True}
print(mixed_set)

{1, 2, 'hello', 3, 4.5}

In [4]:
set2=set([1,2,3,4,5])
print(set2)

{1, 2, 3, 4, 5}

In [5]:
fruit = {"apple", "banana", "cherry"}

print("banana" in fruit)

fruit = {"apple", "banana", "cherry"}

print("banana" not in fruit)

True
False

**Add Set items**

In [6]:
a={1, 2, 3}
a.add(4)
print(a)

a.add("Ahmad")
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 'Ahmad'}

In [7]:
a={1, 2, 3}
n={"Ahmad", "Ali", "Hassan"}
a.update(n)
print(a)

{1, 2, 3, 'Ahmad', 'Hassan', 'Ali'}

**Remove From Set**

In [8]:
fruit = {"apple", "banana", "cherry"}
fruit.remove("banana")

print(fruit)

{'cherry', 'apple'}

In [9]:
fruit = {"apple", "banana", "cherry"}
fruit.pop()

print(fruit)

{'banana', 'apple'}

In [10]:
fruit_set = {"apple", "banana", "cherry"}
for fruit in fruit_set:
    print(fruit)

cherry
banana
apple

**Union**

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [12]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [13]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"ahmad", "afnan"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'ahmad', 'cherry', 'c', 'b', 'apple', 'afnan', 'bananas', 'a'}

In [14]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"ahmad", "afnan"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'ahmad', 'cherry', 'c', 'b', 'apple', 'afnan', 'bananas', 'a'}

- The `union()` method allows you to join a set with other data types, like lists or tuples.

In [15]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

**Intersection**

In [17]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.intersection(set2)
print(set3)

set()

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [20]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}