**Tuples** are used to store multiple items in a single variable.<br>
**Tuples** are immutable, meaning that once a tuple is created, it cannot be modified.<br>
**Tuples** are defined by enclosing a sequence of values in parentheses `()`.

`Syntax Tuple` name_fruit=(fruit1, fruit1 , fruit3 , fruitN)

- A tuple is a collection which is ordered and unchangable.

In [1]:
fruit_names=("apple","banana","cherry","date","elderberry","fig","grape","honeydew")
print("The first three fruits are:", fruit_names[:3])

The first three fruits are: ('apple', 'banana', 'cherry')

In [2]:
#print full list of fruits
print(fruit_names)

('apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew')

In [3]:
# datatype of fruit_names
print(type(fruit_names))

<class 'tuple'>

In [4]:
#slicing in tuples
print(fruit_names[3:6:1])

('date', 'elderberry', 'fig')

In [5]:
names=("ahmad","rida","sahar","afshan","aroosa","fatima","afnan","noor")
num=(1,2,3,4,5,6,7,8)
Boolean=(True,False,True,False,True,False,True,False)

In [6]:
mix=("ahmad",1,True)
#slicing in tuples
print(mix[0:3:2])

('ahmad', True)

 `**Important Note**` <br>
 - **tuple**.append() and **tuple**.insert() are not available.<br>
 - However, you can use the **list**.append() and **list**.insert() methods to add elements to a list, and then convert the list to a tuple using the **tuple**() function.

In [7]:
#count of number that how many times number is present in tuple
num1=(1,2,3,4,5,6,7,8,8,9,9)
print("Total count of number",num1.count(8))

Total count of number 2

In [8]:
#index of number that where number is present in tuple
print("Index of number",num1.index(1))

Index of number 0

**Unpacking in tuple**

In [9]:
mix=("ahmad",25,"Data Scientist")
name,age,profession=mix
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: ahmad
Age: 25
Profession: Data Scientist

In [10]:
multiple_person=("ahmad",25,"Data Scientist"),("rida",24,"Software Engineer"),("sahar",23,"Data Analyst")
for person in multiple_person:
    name, age, profession = person
    print("Name:", name)
    print("Age:", age)
    print("Profession:", profession)
    print()

Name: ahmad
Age: 25
Profession: Data Scientist

Name: rida
Age: 24
Profession: Software Engineer

Name: sahar
Age: 23
Profession: Data Analyst

In [11]:
#using * astrik in tuple
tuple1 = (1, 2, 3, 4, 5)
num_1, num_2, *num_n=tuple1
print(f"Using * in tuple: Number 1 = {num_1}  Number 2 = {num_2}  Asterik Number N = {num_n}")

Using * in tuple: Number 1 = 1  Number 2 = 2  Asterik Number N = [3, 4, 5]

In [12]:
#nested tuples
tup = (1, 2,(5, 6), 7)
a,b,c,d = tup
print(a)
print(b)
print(c)
print(d)

1
2
(5, 6)
7

**Convert list into tuple**

In [13]:
a=[1,2,3,4,5,6,7,8,9]
print(type(a))

<class 'list'>

In [14]:
# converting list to tuple
b=tuple(a)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
print(type(b))

<class 'tuple'>

In [16]:
# length of tuple
print(len(b))

9

**Update Tuple**

In [17]:
x = ("apple", "banana", "cherry")
# converting tuple to list to make it mutable
y = list(x) 
#change back list into tuple
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')